<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shopperss &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">


    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

	
    
  </head>
  <body>
  
  <div class="site-wrap">
    <header class="site-navbar" role="banner">
      <div class="site-navbar-top">
        <div class="container">
          <div class="row align-items-center">

           

            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
              <div class="site-logo">
                <a href="/home" class="js-logo-clone">Shopperss</a>
              </div>
            </div>

            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
              <div class="site-top-icons">
                <ul>
                  <li><a href="#"><span class="icon icon-person"></span></a></li>
                  <li><a href="#"><span class="icon icon-heart-o"></span></a></li>
                  <li>
                    <a href="/cart" class="site-cart">
                      <span class="icon icon-shopping_cart"></span>
                      <span class="count">2</span>
                    </a>
                  </li> 
                  <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                </ul>
              </div> 
            </div>

          </div>
        </div>
      </div> 
      <nav class="site-navigation text-right text-md-center" role="navigation">
        <div class="container">
          <ul class="site-menu js-clone-nav d-none d-md-block">
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>  
            <li><a href="/shop">Shop</a></li>
            <li><a href="/showOrder">Orders</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/wishlist">Whishlist</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/home">Home</a> <span class="mx-2 mb-0"></span> <a href="/cart">Cart</a> <span class="mx-2 mb-0"></span> <strong class="text-black">Checkout</strong></div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="bread"><span><a href="index.html">Home</a></span>  <span>Checkout</span></p>
				</div>	
			</div>
		</div>
	</div>

<div class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
            <p class="breadcrumbs"><span class="mr-2"><a href="/home">Home</a></span> <span>About</span></p>
            <h1 class="mb-0 bread">Checkout</h1>
        </div>
      </div>
    </div>
  </div>

<div class="col-md-4" style="margin-left: 300px;margin-top: 200px;">
    <div class="row" style="display: flex; justify-content: space-between;">
        <div class="horizontal" >
            <h3 class="mb-4 mt-3">LOGIN</h3>
            <p class=""><span>Name</span>:&nbsp;&nbsp;&nbsp;<span style="color: black;"><%=userName.name%></span></p><br>
            <p class="mb-4"><span>Mobile</span>:&nbsp;&nbsp;&nbsp;<span style="color: black;"><%=userName.mobile%></span></p><br>
            <p class="mb-4"><span>E-Mail</span>:&nbsp;&nbsp;&nbsp;<span style="color: black;"><%=userName.email%></span></p>
            
        </div>
       
    </div>
</div>

<div class="col-md-4" style="margin-left: 300px;margin-top: 100px;margin-bottom: 200px;background-color: rgb(235, 235, 235);">
  <a href="/addAddress"><button class="btn btn-danger m-5">Add Address</button></a>
  <div class="row">
 <%
 if(typeof message != 'undefined'){
      %>
      <div class="row">
        <p class="pl-5" style="color: red;"><%=message%></p>
      </div>
      <%
 }
 %>
  
</div>
</div>

</div>
</body>
<script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>
    
</html>
