<!DOCTYPE html>
<html lang="en">
<head>
    <title>REGISTER</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="login-page">
        <h1 style="text-align: center;" >Register here</h1>

         <div class="form">

          <form class="login-form" method="post">
            <input type="name" name="name" id="name" placeholder="name" required/>
            <span id="span-name" style="color: red;"></span>
            <input type="email" name="email" id="email" required placeholder="email"/> 
            <span id="span-email" style="color: red;"></span>
            <input type="number" name="mobile" id="mobile" required placeholder="mobile"/>
            <span id="span-mobile" style="color: red;"></span>
            <input type="password" name="password" id="password" required placeholder="password"/>
            <span id="span-password" style="color: red;"></span><br>
            <input type="password" name="confirm-password" id="confirm-password" required placeholder="Confirm password"/>
            <span id="span-confirm-password" style="color: red;"></span><br>
            
            
           <% if(typeof error !==  "undefined" ){ %>
             <span style="color: rgb(211, 22, 22);">
               <%= error %>
             </span>
             <% } %>   
                     <button type="button" onclick="validate()"  required >Register</button>
                        <p class="message"></p>Do you have an account? <a href="/login">login here</a></p>
                          </form>
          
                               <% 
                               if (typeof message !== 'undefined') {
                                 %>
                                  <p style="color: rgb(16, 16, 18);"><%= message %></p>
                                   <%} %>
                                         </div>
                                          </div>
                                           </body>
</html>




            
<style>
         body{
          background-image:url("https://globalnews.ca/wp-content/uploads/2020/02/gettyimages-1150096165-1.jpg?quality=85&strip=all&w=720&h=379&crop=1");
          background-size: 100%;
        }
      .login-page {
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
      }
      .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      }
      .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
      }
      .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
      }
      a:hover{
        color: rgb(31, 94, 36);
      }
      
      .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
      }
      .form .message a {
        color: #4CAF50;
        text-decoration: none;
      }
      .form .register-form {
        display: none;
      }
      .container {
        position: relative;
        z-index: 1;
        max-width: 300px;
        margin: 0 auto;
      }
      .container:before, .container:after {
        content: "";
        display: block;
        clear: both;
      }
      .container .info {
        margin: 50px auto;
        text-align: center;
      }
      .container .info h1 {
        margin: 0 0 15px;
        padding: 0;
        font-size: 36px;
        font-weight: 300;
       color: #1a1a1a;
      }
      .container .info span {
        color: #4d4d4d;
        font-size: 12px;
      }
      .container .info span a {
        color: #f7db09;
        text-decoration: none;
      }
      .container .info span .fa {
        color: #EF3B3A;
      }
  </style>
 

  <script>


function validate(){ 
 name=document.getElementById('name').value
 email=document.getElementById('email').value
 mobile=document.getElementById('mobile').value
 password=document.getElementById('password').value
 confirmPassword=document.getElementById('confirm-password').value

 if(name==''){
     document.getElementById('span-name').innerText='please must fill name '
 }
 else{
     document.getElementById("span-name").innerText=""
 }

 if(email==''){
     document.getElementById('span-email').innerText='please must fill email '
 }
 else{
     document.getElementById("span-email").innerText=""
 }

 if(mobile==''){
     document.getElementById('span-mobile').innerText='please must fill mobile '
 }
 else{
     document.getElementById("span-mobile").innerText=""
 }

 if(password==''){
     document.getElementById('span-password').innerText='please must fill password '
 }
 else{
     document.getElementById("span-password").innerText=""
 }

 if(confirmPassword==''){
     document.getElementById('span-confirm-password').innerText='please must fill confirm password '
 }
 else if(password !== confirmPassword){
     document.getElementById('span-confirm-password').innerText='password and confirm password must be same '
 }
 else{
     document.getElementById("span-confirm-password").innerText=""
 }
}
console.log(validate)



</script>

    
  </body>



    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


</html>